footer.bg-dark(style='background-image: url(/static/svg/patterns.svg)')
    .py-5
        .container
            h4.mb-5.text-white.text-center.display-6 Shopper Stops.
            .row
                .col-6.col-sm
                    // Heading
                    h6.mb-4.text-white Support
                    // Links
                    ul.list-unstyled.mb-5.mb-sm-0
                        li
                            a(href='./contact-us.html') Contact Us
                        li
                            a(href='./faq.html') FAQs
                        li
                            a(href='./shipping-and-returns.html') Shipping &amp; Returns
                .col-6.col-sm
                    // Heading
                    h6.mb-4.text-white Shop
                    // Links
                    ul.list-unstyled.mb-5.mb-sm-0
                        li
                            a(href='./shop.html') Men's Shopping
                        li
                            a(href='./shop.html') Women's Shopping
                        li
                            a(href='./shop.html') Kid's Shopping
                        li
                            a(href='./shop.html') Discounts
                .col-6.col-sm
                    // Heading
                    h6.mb-4.text-white Company
                    // Links
                    ul.list-unstyled.mb-0
                        li
                            a(href='./about.html') Our Story
                        li
                            a(href='#!') Careers
                        li
                            a(href='#!') Terms &amp; Conditions
                        li
                            a(href='#!') Privacy &amp; Cookie policy
                .col-6.col-sm
                    // Heading
                    h6.mb-4.text-white Contact
                    // Links
                    ul.list-unstyled.mb-0
                        li
                            a(href='tel:1-202-555-0105')
                                i.fe.fe-phone
                                | 1-202-555-0105
                        li
                            a(href='mailto:help@shopperstops.com')
                                i.fe.fe-mail
                                | help@shopperstops.com
    .py-3
        .container
            .row
                .col
                    // Copyright
                    p.mb-md-0.text-muted.text-center © 2021 All rights reserved. Designed by SK.

