nav.navbar.navbar-expand-lg.navbar-light.bg-light.py-3.px-3.border-bottom
    .container
        a.navbar-brand(href='/') Shopper Stops.
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
            i.fe.fe-menu
        #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav.mx-auto
                li.nav-item
                    a.nav-link.active(aria-current='page' href='#') Home
                li.nav-item.dropdown
                    a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                        | Products
                    ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                        li
                            a.dropdown-item(href='/shop.html?category=men') Men
                        li
                            a.dropdown-item(href='/shop.html?category=women') Women
                        li
                            a.dropdown-item(href='/shop.html?category=kids') Kids
            ul.navbar-nav
                // ### If there is no user is logged in show this buttons
                // Login
                //
                    <li class="nav-item ml-lg-n4">
                    <a class="nav-link" href="./login.html">
                    <i class="fe fe-log-in me-1"></i>
                    Login
                    </a>
                    </li>
                // Register
                //
                    <li class="nav-item ml-lg-n4">
                    <a class="nav-link" href="./register.html">
                    <i class="fe fe-user-plus me-1"></i>
                    Register
                    </a>
                    </li>
                // ### Else if there is logged in user show these button
                // ### Need to be implemented in the future ###
                //
                    <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="modal" href="#modalSearch">
                    <i class="fe fe-search"></i>
                    </a>
                    </li>
                li.nav-item.dropdown
                    a#accountDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                        i.fe.fe-user
                        span.d-lg-none example@gmail.com
                    ul.dropdown-menu(aria-labelledby='accountDropdownMenuLink')
                        li
                            a.dropdown-item(href='/account.html') Account
                        li
                            a.dropdown-item(href='/account-orders.html') Orders
                        li
                            a.dropdown-item(href='/account-address.html') Shipping Address
                li.nav-item
                    a.nav-link(href='./account-wishlist.html')
                        i.fe.fe-heart
                        span.d-lg-none Wishlist
                li.nav-item
                    a.nav-link(data-bs-toggle='modal' data-bs-target='#modalShoppingCart')
                        span(data-cart-items='2')
                            i.fe.fe-shopping-cart
                        span.d-lg-none.ms-2 Cart
                li.nav-item.ml-lg-n4
                    a.nav-link(href='./logout.html')
                        i.fe.fe-log-out.me-1
                        | Logout
