extends ../base

block content
    #modalPasswordReset.modal.fade(tabindex='-1' role='dialog' aria-modal='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header.fs-4.border-bottom
            strong.mx-auto Forgot Password?
            button.modal-btn-close.btn.btn-light.p-2(type='button' data-bs-dismiss='modal' aria-label='Close')
              i.fe.fe-x.fs-5.text-secondary
          .modal-body.text-center.p-4
            p.mb-3.text-secondary
              | Please enter your Email Address. You will receive a link to create a new password via Email.
            form.needs-validation(novalidate)
              .mb-3
                label.visually-hidden(for='modalPasswordResetEmail')  Email Address * 
                input#modalPasswordResetEmail.form-control(type='email' placeholder='Email Address *' required='')
                .invalid-feedback Please provide valid email address.
              // Button
              button.btn.btn-dark Reset Password
    section.py-3.py-md-5.bg-light-grey
      .container
        .row
          .col-lg-6.offset-lg-3
            // Card
            .card.card-lg
              .card-body
                // Heading
                .text-center.mb-4
                  // <img class="mb-4" src="" alt="" width="72" height="72" />
                  h3 Log into your account
                // Form
                form.needs-validation(novalidate)
                  .row
                    .alert-wrapper
                      //
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <ul class="list-group list-group-flush list-group-numbered">
                        <li class="list-group-item bg-transparent border-0">Email is required.</li>
                        </ul>
                        <button type="button" class="btn btn-close fs-5" data-bs-dismiss="alert" aria-label="Close">
                        <i class="fe fe-x"></i>
                        </button>
                        </div>
                    .col-12.mb-3
                      // Email
                      label.visually-hidden(for='loginEmail')  Email Address * 
                      input#loginEmail.form-control(type='email' placeholder='Email Address *' required='')
                      .invalid-feedback Please provide your email address.
                    .col-12.mb-3
                      // Password
                      .mb-3
                        label.visually-hidden(for='loginPassword')  Password * 
                        input#loginPassword.form-control(type='password' placeholder='Password *' required='' minlength='8')
                        .invalid-feedback Password should be atleast 8 character's.
                      .form-check
                        input#toggle-password-check.form-check-input.toggle-password(type='checkbox')
                        label.form-check-label.toggle-password-text(for='toggle-password-check')
                          | Show Password
                    .col-6
                      // Link
                      a.font-size-sm.text-primary.text-reset(href='/register.html') Create new account?
                    .col-6.text-end
                      // Link
                      .mb-3
                        a.font-size-sm.text-reset(data-bs-toggle='modal' data-bs-target='#modalPasswordReset' href='/forgot-password.html') Forgot Password?
                    .col-12
                      // Button
                      button.btn.btn-block.btn-dark.mb-4.d-inline-flex.align-items-center(type='submit')
                        //
                          <div class="spinner-border spinner-border-sm text-light me-2" role="status">
                          <span class="visually-hidden">Loading...</span>
                          </div>
                        span.login-btn-text Sign In

block script
    script.
        (function () {
            //- Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation');
            
            //- Loop over them and prevent submission
            Array.prototype.slice.call(forms).forEach((form) => {
            form.addEventListener(
            'submit',
            (event) => {
            if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
            }
            
            form.classList.add('was-validated');
            },
            false
            );
            });
        })();
    script.
      // Toggle password visible
      const passwordInput = document.querySelector('#loginPassword');
      const toggleCheck = document.querySelector('.toggle-password');
      const toggleText = document.querySelector('.toggle-password-text');
      
      toggleCheck.addEventListener('change', function (e) {
        e.preventDefault();
        if (e.target.checked && passwordInput.type === 'password') {
            toggleText.textContent = 'Hide Password';
            passwordInput.type = 'text';
        } else {
            toggleText.textContent = 'Show Password';
            passwordInput.type = 'password';
        }
      });
